{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>
  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <img src="assets/images/pic4.jpg" alt="" width=600 draggable="false">
        </div>
        <div class="tx-hero__content">
          <h1>走近物联网的世界</h1>
          <p>AWS IoT Day是一整天以物联网技术为主题的沉浸式研讨会，结合典型场景通过AWS IoT搭建可落地的物联网解决方案</p>
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
            快速上手
          </a>
          <a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">
            GitHub仓库
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
{% endblock %}